Flask==2.2.5
pdf2image==1.16.3
python-docx==0.8.11
Pillow>=8.1.1
PyMuPDF==1.22.5
b2sdk==1.18.0
werkzeug
beautifulsoup4
pytube
ytmusicapi
requests
chardet
ffmpeg-python
gunicorn
parse-torrent-title
pyjwt
selenium
cinemagoer
jsmin
css_html_js_minify
cssutils
htmlmin
instaloader
instagrapi
pandas
openpyxl
numpy
opencv-python
mediapipe
